/runs/
/..bfg-report/
# Ignore everything in data directory
/data/*

# Don't ignore the weights directory itself
!/data/weights/
# Don't ignore model.txt in weights directory
!/data/weights/model.txt
/data/weights/seg_model.pt

/demo_backup.py

__pycache__/
*.py[cod]
*.pyc

*.jpg

/*.jar

#test